* {
  font-family: arial, sans-serif;
  margin: 0;
}

body,
body > div {
  height: 100vh;
  width: 100vw;
}

#container {
  height: 100%;
  display: flex;
  flex-direction: column;
}

#container > div {
  display: flex;
}

#navbar {
  padding: 2em;
  justify-content: space-evenly;
  font-size: 15px;
  font-family: "Times New Roman", Times, serif;
  border: 15px solid black;
  text-decoration: dotted;
}

#main-section {
  flex-grow: 1;
}

#main-section > div {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.red {
  background-color: #e22343;
  color: white;
}

.blue {
  background-color: #275db3;
  color: white;
}

.home {
  background-color: purple;
  color: white;
}
